@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-with-shadow {
        text-shadow: 0px 0px 1px #150f0f, 0px 0px 1px #150f0f, 0px 0px 1px #150f0f, 0px 0px 2px #150f0f,
            0px 0px 2px #150f0f, 0px 0px 2px #150f0f;
        color: #f2eee2;
        font-size: 15px;
    }
}
